name: NWS Publish Raw HTML
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  

on:
  push:
    branches: [ "{{_main_branchname_}}" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Create Dockerfile
        run: |
          cat <<\EOT > Dockerfile
          FROM nginx:alpine
          COPY . /usr/share/nginx/html
          EOT

      - name: Run a one-line script
        run: cat Dockerfile

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          
      - name: Setup Python
        uses: actions/setup-python@v4.0.0
        with:
          python-version: 3.12.0-alpha.3

      - uses: paulhatch/semantic-version@v5.0.2
        id: vnum
        with:
          tag_prefix: ""
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          version_format: "${major}.${minor}.${patch}-${increment}"
          bump_each_commit: true
    
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.vnum.outputs.version_tag }}
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
